/* Stylesheet used to provide media query CSS to reactstrap compontents */

.dd {
  color: red;
  background-color: red;
  border: 1px solid black;
  height: 50vh;
}
// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

@media (min-width: 576px) {
  .dd {
    color: red;
    background-color: red;
    height: 50vh;
  }
}

@media (min-width: 768px) {
  .dd {
    color: green;
    background-color: green;
    height: 100vh;
  }
}

@media (min-width: 992px) {
  .dd {
    color: yellow;
    background-color: yellow;
  }
}

@media (min-width: 1200px) {
  .dd {
    color: blue;
    background-color: blue;
  }
}
